.container {
    background-color: lightgray;
    min-width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
}

.main-container {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

.todolist-header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}